<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hy.mapper.PersonMapper">
    <!--Author:hy，Date:2023-12-21，selectUsersByphone的结果映射配置，由mybatis-plus-generator-ui自动生成-->
    <resultMap id="SelectUsersByphoneResultDtoMap" type="com.hy.dto.SelectUsersByphoneResultDto">
        <result column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="phone" property="phone"/>
        <result column="avatar" property="avatar"/>
        <result column="nickname" property="nickname"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="dept_id" property="deptId"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="lock_flag" property="lockFlag"/>
        <result column="del_flag" property="delFlag"/>
        <result column="wx_openid" property="wxOpenid"/>
        <result column="mini_openid" property="miniOpenid"/>
        <result column="qq_openid" property="qqOpenid"/>
        <result column="gitee_login" property="giteeLogin"/>
        <result column="osc_id" property="oscId"/>
        <result column="tenant_id" property="tenantId"/>
    </resultMap>
    <!--Author:hy，Date:2023-12-21,由mybatis-plus-generator-ui自动生成-->
    <select id="selectUsersByphone" resultMap="SelectUsersByphoneResultDtoMap">SELECT * FROM person WHERE user_id IN (
        SELECT person_id FROM sys_person_phone_encrypt WHERE phone_key LIKE concat( '%', #{phoneVal}, '%' ) )
    </select>
</mapper>
